/.gcroots/
*__pycache__/
/CompCert/
/coq/
/coq-serapi/
/software_foundations/
/darknet/
*.aux
*.glob
*.swp
*.vo
/coq-menhirlib/
/data/scrape.txt
/data/scrape.bkp
report*
*weights*
*.mypy_cache/*
*/.mypy_cache/*
