/.gcroots/
*__pycache__/
/CompCert/
/coq-projects/
/coq/
/coq-serapi/
/darknet/
*.aux
*.glob
*.swp
*.vo
/coq-menhirlib/
/data/scrape.txt
/data/scrape.bkp
report-*
report/
*-weights*
*.mypy_cache/*
*/.mypy_cache/*
*.lock
.venv
proverbot-env
.fish_history
search-report/
.bash_history