[submodule "pytorch-types"]
	path = stubs/pytorch-types
	url = https://github.com/HazardousPeach/pytorch-types.git
[submodule "mypy-data"]
	path = stubs/mypy-data
	url = https://github.com/machinalis/mypy-data.git
[submodule "dataloader/gestalt-ratio"]
	path = dataloader/gestalt-ratio
	url = https://github.com/HazardousPeach/gestalt-ratio-rust.git
[submodule "src/coq_serapy"]
	path = coq_serapy
	url = https://github.com/HazardousPeach/coq_serapy.git
[submodule "coq-projects/coq-procrastination"]
	path = coq-projects/coq-procrastination
	url = https://github.com/Armael/coq-procrastination.git
[submodule "coq-projects/hoare-tut"]
	path = coq-projects/hoare-tut
	url = https://github.com/coq-community/hoare-tut.git
[submodule "coq-projects/zchinese"]
	path = coq-projects/zchinese
	url = https://github.com/coq-contribs/zchinese.git
[submodule "coq-projects/euler-formula"]
	path = coq-projects/euler-formula
	url = https://github.com/coq-contribs/euler-formula.git
	branch = v8.9
[submodule "coq-projects/UnifySL"]
	path = coq-projects/UnifySL
	url = https://github.com/QinxiangCao/UnifySL.git
[submodule "coq-projects/lemma-overloading"]
	path = coq-projects/lemma-overloading
	url = https://github.com/coq-community/lemma-overloading.git
[submodule "coq-projects/disel"]
	path = coq-projects/disel
	url = https://github.com/DistributedComponents/disel.git
[submodule "coq-projects/algebra"]
	path = coq-projects/algebra
	url = https://github.com/coq-contribs/algebra.git
	branch = v8.9
[submodule "coq-projects/pocklington"]
	path = coq-projects/pocklington
	url = https://github.com/coq-community/pocklington.git
[submodule "coq-projects/quicksort-complexity"]
	path = coq-projects/quicksort-complexity
	url = https://github.com/HazardousPeach/quicksort-complexity.git
	branch = v8.10
[submodule "coq-projects/finmap"]
	path = coq-projects/finmap
	url = https://github.com/math-comp/finmap.git
[submodule "coq-projects/coqrel"]
	path = coq-projects/coqrel
	url = https://github.com/HazardousPeach/coqrel.git
	branch = v8.10
[submodule "coq-projects/twoSquare"]
	path = coq-projects/twoSquare
	url = https://github.com/thery/twoSquare.git
[submodule "coq-projects/QuickChick"]
	path = coq-projects/QuickChick
	url = https://github.com/QuickChick/QuickChick.git
	branch = 8.10
[submodule "coq-projects/qarith"]
	path = coq-projects/qarith
	url = https://github.com/coq-contribs/qarith.git
	branch = v8.9
[submodule "coq-projects/pts"]
	path = coq-projects/pts
	url = https://github.com/coq-contribs/pts.git
	branch = v8.9
[submodule "coq-projects/maths"]
	path = coq-projects/maths
	url = https://github.com/coq-contribs/maths.git
	branch = v8.9
[submodule "coq-projects/int-map"]
	path = coq-projects/int-map
	url = https://github.com/coq-contribs/int-map.git
	branch = v8.9
[submodule "coq-projects/ieee754"]
	path = coq-projects/ieee754
	url = https://github.com/coq-contribs/ieee754.git
	branch = v8.9
[submodule "coq-projects/hardware"]
	path = coq-projects/hardware
	url = https://github.com/HazardousPeach/hardware.git
	branch = v8.10
[submodule "coq-projects/float"]
	path = coq-projects/float
	url = https://github.com/coq-contribs/float.git
	branch = v8.9
[submodule "coq-projects/dictionaries"]
	path = coq-projects/dictionaries
	url = https://github.com/coq-contribs/dictionaries.git
	branch = v8.9
[submodule "coq-projects/buchberger"]
	path = coq-projects/buchberger
	url = https://github.com/coq-community/buchberger.git
	branch = v8.9
[submodule "coq-projects/bdds"]
	path = coq-projects/bdds
	url = https://github.com/coq-contribs/bdds.git
	branch = v8.10
[submodule "coq-projects/area-method"]
	path = coq-projects/area-method
	url = https://github.com/coq-contribs/area-method.git
	branch = v8.10
[submodule "coq-projects/coq"]
	path = coq-projects/coq
	url = https://github.com/coq/coq.git
	branch = v8.10
[submodule "coq-projects/fcsl-pcm"]
	path = coq-projects/fcsl-pcm
	url = https://github.com/imdea-software/fcsl-pcm.git
[submodule "coq-projects/GeoCoq"]
	path = coq-projects/GeoCoq
	url = https://github.com/GeoCoq/GeoCoq.git
[submodule "coq-projects/coquelicot"]
	path = coq-projects/coquelicot
	url = https://github.com/HazardousPeach/coquelicot.git
[submodule "deps/metalib"]
	path = deps/metalib
	url = https://github.com/plclub/metalib.git
[submodule "coq-projects/additions"]
	path = coq-projects/additions
	url = https://github.com/coq-contribs/additions.git
	branch = v8.9
[submodule "coq-projects/distributed-reference-counting"]
	path = coq-projects/distributed-reference-counting
	url = https://github.com/coq-contribs/distributed-reference-counting.git
	branch = v8.9
[submodule "coq-projects/zsearch-trees"]
	path = coq-projects/zsearch-trees
	url = https://github.com/coq-contribs/zsearch-trees.git
[submodule "coq-projects/topology"]
	path = coq-projects/topology
	url = https://github.com/coq-community/topology.git
[submodule "coq-projects/lin-alg-8.10"]
	path = coq-projects/lin-alg
	url = https://github.com/HazardousPeach/lin-alg-8.10.git
[submodule "coq-projects/VST"]
	path = coq-projects/VST
	url = https://github.com/HazardousPeach/VST.git
        branch = v8.10.2
[submodule "coq-projects/coq-library-undecidability"]
	path = coq-projects/coq-library-undecidability
	url = https://github.com/HazardousPeach/coq-library-undecidability.git
        branch = v8.12.2
[submodule "coq-projects/fermat4"]
	path = coq-projects/fermat4
	url = https://github.com/coq-contribs/fermat4.git
[submodule "coq-projects/goedel"]
	path = coq-projects/goedel
	url = https://github.com/coq-community/goedel.git
	branch = v8.9
[submodule "coq-projects/tree-automata"]
	path = coq-projects/tree-automata
	url = https://github.com/coq-contribs/tree-automata.git
	branch = v8.9
[submodule "coq-projects/verdi"]
	path = coq-projects/verdi
	url = https://github.com/uwplse/verdi.git
[submodule "coq-projects/verdi-raft"]
	path = coq-projects/verdi-raft
	url = https://github.com/uwplse/verdi-raft.git
[submodule "coq-projects/zorns-lemma"]
	path = coq-projects/zorns-lemma
	url = https://github.com/coq-community/zorns-lemma.git
[submodule "coq-projects/math-comp"]
	path = coq-projects/math-comp
	url = https://github.com/math-comp/math-comp.git
[submodule "CompCert"]
	path = CompCert
	url = https://github.com/AbsInt/CompCert.git
        ignore = dirty
[submodule "coq-projects/smc"]
	path = coq-projects/smc
	url = https://github.com/dsksh/coq-smc.git
[submodule "coq-projects/mod-red"]
	path = coq-projects/mod-red
	url = https://github.com/coq-contribs/mod-red.git
[submodule "coq-projects/metalib"]
	path = coq-projects/metalib
	url = https://github.com/plclub/metalib.git
[submodule "pytanque"]
	path = pytanque
	url = git@github.com:HazardousPeach/pytanque.git
