body {
    padding: 40px 30px;
    width: auto;
    max-width: 1500px;
    margin: 3em auto;
    position: relative;
    text-rendering: optimizeLegibility;
}
code {
    font-size: 1.5em
}
code.badcommand {
    color: red
}
code.goodcommand {
    color: green
}
code.okaycommand {
    color: orange
}
code.failedcommand {
    color: red;
    font-weight: bold;
}
code.superfailedcommand {
    color: black;
    font-weight: bold;
}

#overlay {
    position: absolute;
    display: none;
    width: 50%;
    left: auto;
    right: 0;
    border-style: outset;
    border-width: 4px;
    background-color: LightCyan;
}
#context {
    margin: 1.5em;
}
#predicted {
    margin: 2em;
    text-align: center;
}
#predicted #tactic {
    font-size: 20pt;
}

#context pre {
    font-size: 14pt;
}
