body {
    padding: 40px 30px;
    width: auto;
    max-width: 1500px;
    margin: 3em auto;
    position: relative;
    text-rendering: optimizeLegibility;
}
code {
    font-size: 1.5em
}
code.badcommand {
    color: red
}
code.goodcommand {
    color: green
}

code.okaycommand {
    color: orange
}
