body {
    padding: 40px 30px;
    width: auto;
    max-width: 1500px;
    margin: 3em auto;
    position: relative;
    text-rendering: optimizeLegibility;
}
code {
    font-size: 1.5em
}
.goodcommand {
    color: green
}
.mostlygoodcommand {
    color: darkturquoise
}
.badcommand {
    color: red
}
.okaycommand {
    color: orange
}
.failedcommand {
    color: red;
    font-weight: bold;
}
.superfailedcommand {
    color: black;
    font-weight: bold;
}

#overlay {
    position: fixed;
    display: none;
    width: 50%;
    min-height: 90%;
    max-height: 95%;
    top: 2em;
    left: auto;
    right: 0;
    border-style: outset;
    border-width: 4px;
    background-color: LightCyan;
    overflow: scroll;
}
#context {
    margin: 1.5em;
}
#predicted {
    margin: 2em;
    text-align: center;
}
#stats {
    margin: 2.5em;
    text-align: center;
}
#predicted .tactic {
    font-size: 20pt;
}

#stats tt {
    font-size: 14pt;
}

#context pre {
    font-size: 14pt;
}
