body {
    padding: 40px 30px;
    width: auto;
    max-width: 1500px;
    margin: 3em auto;
    position: relative;
    text-rendering: optimizeLegibility;
}
code {
    font-size: 1.5em
}
.goodcommand {
    color: green
}
.mostlygoodcommand {
    color: darkturquoise
}
.badcommand {
    color: red
}
.okaycommand {
    color: orange
}
.failedcommand {
    color: red;
    font-weight: bold;
}
.superfailedcommand {
    color: black;
    font-weight: bold;
}

.search-graph {
    display:block;
    margin: 0 auto;
    width: 100%;
}

#overlay.graph {
    min-height:0%;
    overflow: hidden;
    max-width: 50%;
    width: auto;
    min-width: 30%;
}

#overlay {
    position: fixed;
    display: none;
    width: 50%;
    min-height: 90%;
    max-height: 95%;
    top: 2em;
    left: auto;
    right: 0;
    border-style: outset;
    border-width: 4px;
    background-color: LightCyan;
    overflow: scroll;
}
#context {
    margin: 1.5em;
}
#predicted {
    margin: 2em;
    text-align: center;
}
#stats {
    margin: 2.5em;
    text-align: center;
}
#predicted .tactic {
    font-size: 20pt;
    display: inline;
}

#predicted .certainty {
    display: inline;
}

#stats tt {
    font-size: 14pt;
}

#context pre {
    font-size: 14pt;
}
.collapsible {
  cursor: pointer;
  padding: .6em;
  width: 100%;
  border: none;
  text-align: left;
  background-color: white;
  border-radius: 1.5em;
}

.collapsible.good {
    background-color: lightgreen;
}
.collapsible.okay{
    background-color: peachpuff;
}
.collapsible.bad{
    background-color: pink;
}

.collapsible:hover {
  background-color: #b6b6b6;
}

.region {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 20px;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.buttontext {
  float: left;
}
