
body {
    width: auto;
    max-width: 700px;
    margin: 1em auto;
    position: relative;
    text-rendering: optimizeLegibility;
}

table {
    width: 100%;
}

tr {
    border: 2em solid #CCC;
}
th {
    font-weight: bold;
}
td {
    text-align: center;
    min-width: 10em;
    min-height: 30px;
    padding: .6em;
}

tr:hover:not(.header), tr.highlighted{
    background: #00ffff55;
}
tr:hover td, tr.highlighted td {
    background: transparent;
}

svg {
    border-style:outset;
    border-color:#00ffff;
    margin: .5em;
}

.dot {
    color: steelblue;
    fill: steelblue;
    stroke: steelblue;
}

#header {
    margin-left: -4em;
    font-family: monospace;
}
