
body {
    padding: 40px 30px;
    width: auto;
    max-width: 700px;
    margin: 3em auto;
    position: relative;
    text-rendering: optimizeLegibility;
}

table {
    width: 100%;
}

tr {
    border: 2em solid #CCC;
}
th {
    font-weight: bold;
}
td {
    text-align: center;
    min-width: 10em;
    min-height: 30px;
    padding: 1em;
}

tr:hover:not(.header){
    background: #00ffff55;
}
tr:hover td {
    background: transparent;
}

svg {
    border-style:outset;
    border-color:#00ffff;
    margin: 3em auto;
}
