
body {
    width: auto;
    max-width: 850px;
    margin: 1em auto;
    position: relative;
    text-rendering: optimizeLegibility;
}

table {
    width: 100%;
}

tr {
    border: 2em solid #CCC;
}
th {
    font-weight: bold;
}
td {
    text-align: center;
    min-width: 10em;
    min-height: 30px;
    padding: .6em;
}

tr:hover:not(.header), tr.highlighted{
    background: #00ffff55;
    cursor: pointer;
}
tr:hover td, tr.highlighted td {
    background: transparent;
}

svg {
    border-style:outset;
    border-color:#00ffff;
    margin: .5em;
    display: block;
    margin: auto;
}
path.graphline.Unknown {
    stroke: black;
}

.dot.Unknown {
    fill: black;
    stroke: black;
}
path.graphline.k-nearest {
    stroke: steelblue;
}

.dot.k-nearest{
    fill: steelblue;
    stroke: steelblue;
}
path.graphline.k-nearest {
    stroke: steelblue;
}
.dot.wordbagclass{
    fill: green;
    stroke: green;
}
path.graphline.wordbagclass{
    stroke: green;
}
path.graphline.encclass {
    stroke: magenta;
}
.dot.encclass {
    stroke: magenta;
    fill: magenta;
}
path.graphline.dnnclass {
    stroke: darkgoldenrod;
}
.dot.dnnclass {
    stroke: darkgoldenrod;
    fill: darkgoldenrod;
}


.dot {
    cursor: pointer;
}

#header {
    margin-left: -4em;
    font-family: monospace;
}
p.checkbox-label {
    display: inline;
    margin: 1em;
}
p.control-label {
    display: inline;
    margin: 1em;
    margin-left: 10em;
}
div.checkbox-box {
    height: 3em;
}
