<footer class="footer">
    <div class="columns">
        <div class="column is-3 has-text-centered">
        </div>
        <div class="column is-2 has-text-centered">
            <img width="200px" src="{{url_for('static', filename='uiuc-wordmark.png')}}" alt="">
        </div>
        <div class="column is-2 has-text-centered">
            <img width="200px" src="{{url_for('static', filename='proofster-logo.png')}}" alt="">
        </div>
        <div class="column is-2 has-text-centered">
            <img width="200px" src="{{url_for('static', filename='umass-logo.png')}}" alt="">
        </div>
        <div class="column is-3 has-text-centered">
        </div>
    </div>

</footer>
