<footer class="footer">
    <div class="columns">
        <div class="column is-3 has-text-centered">
        </div>
        <div class="column is-2 has-text-centered">
            <img width="200px" src="{{url_for('static', filename='uiuc-logo.png')}}" alt="">
        </div>
        <div class="column is-2 has-text-centered">
            <img width="200px" src="{{url_for('static', filename='proofster-logo.png')}}" alt="">
        </div>
        <div class="column is-2 has-text-centered">
            <img width="200px" src="{{url_for('static', filename='laser.jpg')}}" alt="">
            <img width="200px" src="{{url_for('static', filename='umass-wordmark.png')}}" alt="">
        </div>
        <div class="column is-3 has-text-centered">
        </div>
	
    </div>

    <div class="content" style="max-width:33%; margin:auto">
        Page includes open source projects:
	<table class="table">
		<tr> <td><a href="https://github.com/bluzky/nice-select2">nice-select2</a></td> <td>Copyright (c) 2021 Dung Nguyen</td> </tr>
		<tr> <td><a href="https://github.com/jgthms/bulma">bulma</a></td> <td>Copyright (c) 2022 Jeremy Thomas</td>
	</table>
    </div>
</footer>
