<form method="POST">
    <label for="search_type">Select a search strategy</label>
    <select name="search_type" method="POST" action="/">
        <!-- {% for choice in choices %} -->
        <!-- <option value= "{{choice}}" SELECTED>{{choice}}</option>" -->
        <!-- {% endfor %} -->
        <option selected="selected">dfs</option>
        <option>beam-bfs</option>
        <option>best-first</option>
    </select>
    <br>
    <br>
    <label for="theorem_lemma">Input theorem to be proved</label>
    <br>

    <textarea id="theorem_lemma" name="theorem_lemma" rows="10" cols="60">{{theorem_lemma}}</textarea>
    <input type="submit">
    <div>
        <h3 style='color:crimson'>
            {{err_msg}}
        </h3>
        <br/>
        <br/>
    </div>
</form>